:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*** Colors ***/
  --color-primary: #646cff;
  --color-secondary: #53d2f2;
  --color-tertiary: #ff6483;
  --color-background: #242424;
  --color-background-secondary: #373737;
  --color-text: #e0e0e0;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  width: 100dvw;
  height: 100dvh;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button,
input,
select {
  color: var(--color-text);
}
